In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Set the path
file_path = Path('/Users/markkinney/Desktop/Fintech/python_challenge/PyBank/budget_data.csv')

# Read in the CSV as a DataFrame (df)
df = pd.read_csv(file_path)

In [3]:
#Confirm file in dataframe and formatting
df.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [22]:
# The total number of months included in the dataset
total_months = df['Date'].count()
print(total_months)

86

In [23]:
# The net total amount of Profit/Losses over the entire period
total_profit = df['Profit/Losses'].sum()
print(total_profit)

38382578

In [6]:
# The average of the changes in Profit/Losses over the entire period

   # Pseudocode

         # Find Value of monthly_change from each month to the next
         #    monthly_change = Current_Month_Profit - Previous_Month_Profit
         #    use .diff function
         #    Create a list of monthly_changes
         #    Take average of list of monthly_change


df["Profit/Losses"].diff()

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [7]:
monthly_change = [df["Profit/Losses"].diff()]
print(monthly_change)

[0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64]

In [9]:
newdf = pd.DataFrame(monthly_change)
newdf = newdf.transpose()
newdf.head(5)

   Profit/Losses
0            NaN
1       116771.0
2      -662642.0
3      -391430.0
4       379920.0

In [10]:
newdf.rename(columns = {"Profit/Losses":"Monthly Change"}, inplace=True)
newdf.head(5)

   Monthly Change
0             NaN
1        116771.0
2       -662642.0
3       -391430.0
4        379920.0

In [11]:
# Join old and new dataframes by columns axis
combined_df = pd.concat([df, newdf], axis='columns', join='inner')
combined_df.head()

       Date  Profit/Losses  Monthly Change
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [12]:
avg_change = newdf["Monthly Change"].mean()
round_avg_change = round(avg_change,2)
print(round_avg_change)

-2315.12

In [13]:
# The greatest increase in profits (amount) over the entire period

max_change = newdf["Monthly Change"].max()
print(max_change)

1926159.0

In [14]:
# The greatest decrease in losses (amount) over the entire period

min_change = newdf["Monthly Change"].min()
print(min_change)

-2196167.0

In [15]:
# The greatest increase in profits (date) over the entire period
max_date = combined_df.iloc[combined_df["Monthly Change"].argmax(), 0]
print(max_date)

Feb-2012

In [16]:
# The greatest decrease in losses (date) over the entire period
min_date = combined_df.iloc[combined_df["Monthly Change"].argmin(), 0]
print(min_date)

Sep-2013

In [24]:
print()
print("Financial Analysis")
print()
print("-------------------------------------------------------------")
print()
print("Total Months:                 ", total_months)
print()
print("Total Profit:                 ","$",total_profit)
print()
print(("Average Change:                $"),round_avg_change)
print()
print(("Greatest Increase in Profits:  "),max_date, "$",int(max_change))
print()
print(("Greatest Decrease in Profits:  "),min_date, "$",int(min_change))
print()
print("---------------------------------------------------------------")

Financial Analysis

-------------------------------------------------------------

Total Months:                  86

Total Profit:                  $ 38382578

Average Change:                $ -2315.12

Greatest Increase in Profits:   Feb-2012 $ 1926159

Greatest Decrease in Profits:   Sep-2013 $ -2196167

---------------------------------------------------------------

In [25]:
# Set the output file path
output_path = Path("output.txt")

# Open the output_path as a file object in "write" mode ('w')
# Write a header line and write the contents to the file
with open(output_path, 'w') as file:
    file.write(f'''
    Financial Analysis
    -------------------------------------------------------------
    Total Months:                {total_months} 
    Total Profit:                ${total_profit} 
    Average Change:              ${round_avg_change} 
    Greatest Increase in Profits: {max_date}  ${max_change} 
    Greatest Decrease in Profits: {min_date}  ${min_change}
    --------------------------------------------------------------''')